/* General Styles */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
} */

/* body {
    background-color: #f0f8ff;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 1vw;
}

h3 {
    font-size: 1.8em;
}

p {
    font-size: 1em;
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* Navbar */
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    display: flex;
    background-color: #fff;
    padding: 20px 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #1e90ff;
}

.navbar ul {
    margin-left: auto;
    list-style-type: none;
    display: flex;
}

.navbar ul li {
    margin-right: 3vw;
}

.navbar .login-btn {
    margin-left: auto;
    padding: 8px 60px;
    background-color: #1e90ff;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

.navbar .profile-btn {
    padding: 15px 20px;
    background-color: #1e90ff;
    border-radius: 50%;
    color: white;
    text-align: center;
}

main {
    padding: 12vw 10vw 6vw;
}

.word-details {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    font-size: 36px;
}

.pronunciation {
    font-size: 18px;
    color: gray;
}

.part-of-speech {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.definition {
    font-size: 18px;
    margin-top: 10px;
}

.example {
    font-style: italic;
    margin-top: 10px;
}

.synonyms {
    margin-top: 20px;
}

.synonym-btn {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.btn-back {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
}

.btn-back:hover {
    background-color: #0073e6;
}

.courses-section {
    text-align: left;
    margin-bottom: 3vw;
}

.card-container {
    margin-top:1.5vw;
    display: flex;
    gap: 20px;
}

.card {
    width: 200px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card-thumbnail img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    background-color: #E1E9FF; /* Fallback background color */
}

.card-content {
    padding: 1vw 1.5vw;
}

.card-content h3 {
    margin: 1vw 0;
    font-size: 1.2em;
    font-weight: bold;
}

.card-content p {
    color: #333;
    font-size: 0.9em;
    margin:2vw 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}